useDynLib(preseqR)
import(polynom)
export(preseqR.rfa.species.accum.curve)
export(preseqR.rfa.curve)
export(preseqR.rfa.estimate)
export(preseqR.ztnb.em)
export(preseqR.ztnb.estimate)
export(preseqR.ztnb.species.accum.curve)
export(preseqR.interpolate.distinct)
export(preseqR.nonreplace.sampling)
export(preseqR.simu.hist)
export(preseqR.interpolate.mincount)
export(preseqR.pf.mincount)
export(general.preseqR.pf.mincount)
export(preseqR.pf.mincount.bootstrap)
export(preseqR.ztnb.mincount)

S3method(print, CF)
