import(polynom)
importFrom("graphics", "hist")
importFrom("stats", "dnbinom", "median", "optim", "qnorm", "rmultinom",
           "rpois", "var", "uniroot", "ppois", "pnbinom")
export(preseqR.ztnb.em)
export(preseqR.simu.hist)
export(preseqR.nonreplace.sampling)
export(preseqR.interpolate.mincount)
export(ds.mincount.bootstrap)
export(ds.mincount)
export(ztnb.mincount)
export(ztpois.mincount)
export(boneh.mincount)
export(chao.mincount)
