useDynLib(preseqR)
export(preseqR.continued.fraction.estimate)
export(preseqR.bootstrap.complexity.curve)
export(preseqR.print2file)
export(preseqR.calculate.continued.fraction)
export(preseqR.interpolate.distinct)
export(preseqR.extrapolate.distinct)
export(preseqR.ztnb.em)
export(preseqR.ztnb.estimate)
export(preseqR.ztnb.complexity.curve)
